<p id="notice"><%= notice %></p>

<h1><%=t('name_budget')%></h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Expiration date</th>
      <th>Create date</th>
      <th>Quantity products</th>
      <th>Total budget</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.user %></td>
        <td><%= budget.name %></td>
        <td><%= budget.expiration_date %></td>
        <td><%= budget.create_date %></td>
        <td><%= budget.quantity_products %></td>
        <td><%= budget.total_budget %></td>
        <td><%= link_to t('common.show'), budget %></td>
        <td><%= link_to t('common.edit'), edit_budget_path(budget) %></td>
        <td><%= link_to t('common.destroy'), budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new.new_budget'), new_budget_path %>
