<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @budget.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @budget.name %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @budget.expiration_date %>
</p>

<p>
  <strong>Create date:</strong>
  <%= @budget.create_date %>
</p>

<p>
  <strong>Quantity products:</strong>
  <%= @budget.quantity_products %>
</p>

<p>
  <strong>Total budget:</strong>
  <%= @budget.total_budget %>
</p>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
