<p id="notice"><%= notice %></p>

<p>
  <h6>User:</h6>
  <%= @budget.user.name %>
</p>

<p>
  <h6>Name:</h6>
  <%= @budget.name %>
</p>

<p>
  <h6>Expiration date:</h6>
  <%= @budget.expiration_date %>
</p>

<p>
  <h6>Create date:</h6>
  <%= @budget.create_date %>
</p>

<p>
  <h6>Quantity products:</h6>
  <%= @budget.quantity_products %>
</p>

<p>
  <h6>Total budget:</h6>
  <%= @budget.total_budget %>
</p>

<p>
  <% LineItem.where(budget_id: @budget.id).each do |line_item| %>
  <h6>Products:</h6>
    Product: <h6><%= line_item.product.name %></h6>
    Quantity: <strong><%= line_item.quantity %></strong>
    Price: <strong><%= line_item.totalprice %></strong>
    <br>
  <% end %>
</p>

<%= link_to t('common.edit'), edit_budget_path(@budget) %> |
<%= link_to t('common.back'), budgets_path %>
