


<div class='header'>
    <div class='arrow-icon'><span class="material-symbols-outlined">arrow_back</span></div>
    <div class='header-title'><h1>MI CUENTA<h1></div>
</div>

<hr class='purple-line'>


<div class='wrapper'>
<div class='seccionalta'>

        <div class='welcome-div'>
            <div><img src='https://www.pngfind.com/pngs/m/317-3177131_636682202684372240-user-profile-photo-round-hd-png-download.png'></div>
            <div class='welcome-text'><h1>Bienvenido<h1></div>
        </div>
        <div class='user-data-div'>
            <p class='user-data-info'>DATOS<p>
            <%= form_with(model: user, local: true) do |form| %>
                <% if user.errors.any? %>
                    <div id="error_explanation">
                    <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

                    <ul>
                    <% user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                    </ul>
                    </div>
                <% end %>

                <hr>
                    <p class='user-data-info'><%= form.label :name,t('name') %><%= form.text_field :name %><p>
                    <p class='user-data-info'><%= form.label :lastname,t('lastname') %><%= form.text_field :lastname %><p>
                    <p class='user-data-info'><%= form.label :email %><%= form.email_field :email %></p>
                    <p class='user-data-info'><%= form.label :phone,t('phone') %><%= form.number_field :phone %><p>
                    <p class='user-data-info'><%= form.label :address,t('address') %><%= form.text_field :address %><p>
                    <p class='user-data-info'><%= form.label :fecha_nac,t('fecha_nac') %><%= form.date_field :fecha_nac %><p>
                <div class="actions">
                    <%= form.submit 'Actualizar', :class => 'edit-button' %>
                </div>
            <% end %>
        </div>
</div>

<div class="seccionbaja">
        <div class="dropdown">
            <button class="dropbtn"> 
                <p class='droptitle'>Mis presupuestos<p></p>
                <span class="material-symbols-outlined">keyboard_arrow_down</span>
            </button>
            <div class="dropdown-content">
                <div class="content-top">
                    <p class="contenttittle">Nombre</p>
                    <p class="contenttittle">Fecha</p>
                    <p class="contenttittle">Estado</p>
                    <p class="contenttittle">Total</p>
                </div>
            </div>
            <div class="dropdown-content2">
                <div class="content-label">
                    <div class="content">
                        <p class="contentdata">ID/Num presupuesto</p>
                    </div>
                    <div class="content">
                        <p class="contentdata-date">20-04-2022 </p>
                    </div>
                    <div class="content">
                        <p class="contentdata">Activo</p>
                    </div>
                    <div class="content">
                        <p class="contentdata">$320.333</p>
                    </div>
                </div>
                <div class="content-label">
                    <div class="content">
                        <p class="contentdata">ID/Num presupuesto</p>
                    </div>
                    <div class="content">
                        <p class="contentdata-date">20-04-2022 </p>
                    </div>
                    <div class="content">
                        <p class="contentdata">Activo</p>
                    </div>
                    <div class="content">
                        <p class="contentdata">$320.333</p>
                    </div>
                </div>
                <div class="content-label">
                    <div class="content">
                        <p class="contentdata">ID/Num presupuesto</p>
                    </div>
                    <div class="content">
                        <p class="contentdata-date">20-04-2022 </p>
                    </div>
                    <div class="content">
                        <p class="contentdata">Activo</p>
                    </div>
                    <div class="content">
                        <p class="contentdata">$320.333</p>
                    </div>
                </div>
            </div>
        </div>
            <div class="dropdown">
                <button class="dropbtn"> 
                <p class='droptitle'>Mis presupuestos<p></p>
                <span class="material-symbols-outlined">keyboard_arrow_down</span>
                </button>
                <div class="dropdown-content">
                    <button class="tarjeta" type="button">
                        <div class='card-info'>
                            <span class="material-symbols-outlined">credit_card</span>
                            <p class="IDtarjeta"> **** 2657 Debito</p></div>
                        <span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </button>
                    <button class="tarjeta" type="button">
                        <div class='card-info'>
                            <span class="material-symbols-outlined">credit_card</span>
                            <p class="IDtarjeta"> **** 2657 Debito</p></div>
                        <span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </button>
                </div>
            </div>
</div>
</div>

