

<p class='section-title'>PRODUCTOS POPULARES<p>

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
    </div>
    <div class="swiper-slide">
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>

    </div>
    <div class="swiper-slide">
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
    </div>
    <div class="swiper-slide">
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
    </div>
    <div class="swiper-slide">
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
    </div>
    <div class="swiper-slide">
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
    </div>
    <div class="swiper-slide">
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
    </div>
    <div class="swiper-slide">
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
    </div>
    <div class="swiper-slide">
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
    </div><div class="swiper-slide">
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
    </div>
    <div class="swiper-slide">
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
    </div>
  </div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>

<script>

const swiper = new Swiper('.swiper', {
  // Optional parameters
  loop: true,
  slidesPerView: 4,
  spaceBetween: 10,
  
  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

});
</script>
<style>

.swiper {
  width: 90%;

}

.swiper-slide {
  display: flex;
  justify-content: center;

}

.swiper-wrapper {
  width: 100%; 
}


.swiper-button-next {
  color: black;
}

.swiper-button-prev {
  color: black;
}

.section-title {
    color: black;
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 1.25rem;
    padding-left: 10.313rem;
    padding-top: 42px;
    padding-bottom: 32px
}



</style>