<p id="notice"><%= notice %></p>

<%= render :partial => 'header.html.erb' %>

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
    </div>
    <div class="swiper-slide">
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
    </div>
    <div class="swiper-slide">
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
      <div class="product-card-container"><%= render :partial => 'products.html.erb' %></div>
    </div>
  </div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>

<%= render :partial => 'footer.html.erb' %>





<script>

const swiper = new Swiper('.swiper', {
  // Optional parameters
  loop: true,
  
  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

});
</script>
<style>

.swiper {
  width: 90%;

}

.swiper-slide {
  display: flex;
  justify-content: center;

}

.swiper-wrapper {
  width: 100%; 
}


.swiper-button-next {
  color: black;
}

.swiper-button-prev {
  color: black;
}


</style>

