<p id="notice"><%= notice %></p>

<%= render :partial => 'header.html.erb' %>

<div style='margin-bottom: 50px'>
  <div>
    <img class='d-none d-lg-block' src='https://s3-alpha-sig.figma.com/img/5381/7597/173ae43ff2159eb4e5e9d2927a6c6dbf?Expires=1670198400&Signature=b0CpgaKM3NCuXkg95kPgBPj-4vQSk1Fe9rOWMaxDR-1TqSunUKC0IlJoFt-53-yF5sF2jQXTYGQ6AzqXth9buyj4AKguzbCD0cnOIMlz2LVMBRhnDgwFPD8WGE916jBeeo-hjqTDkvcnZp-ydCZZvmrAz7oTlFy2A25Hwb~IRoGA9xON0vuED6zqgX5BgRhXRqiqsUZXZG0YllMjm87zSbzk6PmjNawpuqKTaT~D7LegMMLQu07MAFiQWC3qkOua9WdcVTFeblQ7UzNpREdG~Q8WHtlk68htZQhmCVp55c3ilEqu-xsZJ4n52V~osclQCoQywKp7yJjlRTCpYtH5ew__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA'>
    <img class='d-block d-lg-none' style='width: 100%' src='https://s3-alpha-sig.figma.com/img/eed6/cefa/9f745a3735e3ccb8c77a7f95507f938f?Expires=1670198400&Signature=XF8pG24p2pd71CoFYzlYBMP~GtzlYw9cPT5URPhryX9c6ltXHYIwEUsNjuPZIE~vBvJpwSECJ-6Kn1E3FWkqekjpU4ZXKpSKZoQ89mTgptxwm~DwTwwjc3FryjQKiW3R71L31nMDaLjHqS7cIqHNvBqjUiqe7p7xy0-ZEKT1n8pRVjILf4Z2iulJ7RCtfLbdOB2m9GcCClmvVr9H7E6SoCgNhpdTdhKTqbZpcXTKXmSpppwaTsPTf39Ph-3HN55eupf3orf0K0~lqMrCWDXQRkd38dcuOpc0kE8fJJD5pNIWvLfp0uJuIK7iEDs3gaz0nvsmJHNBy7j6UBnaqWLlAg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA'>
  </div>
  <div style='display: flex; justify-content: space-between; width: 30%; margin: auto; margin-top: -85px; min-width: 250px'>
      <div>
        <button style='height: 46px; width: auto; padding: 13px; display: flex; align-items: center; font-family: Barlow; border-radius: 4px; font-size: 1rem'>Comprar</button>
      </div>
      <div>
        <p style='height: 46px; width: auto; padding: 13px; display: flex; align-items: center; background-color: none; font-family: Barlow; font-size: 1rem'>Ver más</p>
      </div>
    </div> 
  </div>
</div>

<div class='' style='display: flex; justify-content: center; margin-top: 100px;'>
  <div style='display: flex; justify-content: center; width: 330px; flex-direction: column; margin-right: 15px'>
    <p style='color: black; font-family: Barlow; font-weight: 600; font-size: 1rem; text-align: center;'>RUNNING Y TRAINING</p>
    <img style='width: 100%; margin-top: 16px' src='https://s3-alpha-sig.figma.com/img/aac4/cf7e/bffadc4bf10f494352e2c6a0d1249f2d?Expires=1670198400&Signature=Ejb3kFq-FXYDz6qJaN0MGYan-KOtbjsPR5UQMKhBNrwborefuUif9rsWk4TpCSzMIs8PUVD6VQp0iqP~qFjuHcsS74JZZJlzRolTpceqvR2d7x0Hd9bHoPYPl0D5LNTGQhNEJoRr82jn3jy-hg6pnDOqxlwHqz0Hu75V~03rUS9FNxIemxDMW7Umu~rZJLSRVIx3XFjGrgpnygypCQ5YWN7fSe-NQ-FvDn-dzKCOSmHdZgUcWSMMzp4G2up6~nJxvlwXfmnI~SiKlX80d4IDv7~osLPWsKitZXzIw-xlcrt7bdoja-rkGrgm7C~QVsvWg~ApEY~lA1XiNxY8h1rDiw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA'>
    <button style='font-family: Barlow; width: 100%; margin-top: 16px; height: 46px; border-radius: 4px'>VER MÁS</button>
  </div>
  <div style='display: flex; justify-content: center; width: 330px; flex-direction: column; margin-left: 15px'>
    <p style='color: black; font-family: Barlow; font-weight: 600; font-size: 1rem; text-align: center;'>COLECCIÓN FRIDA KAHLO</p>
    <img style='width: 100%; margin-top: 16px' src='https://s3-alpha-sig.figma.com/img/aea5/2152/82a00e7c5f395c18c05b01bdd722e363?Expires=1670198400&Signature=GMJSmzhw~K7dpvHGX9j3SlE30cecc0g7h0KeHc5uac4tSXrxtktTTlSEdPgCI6Ef1EYcvfBHO990oDUNLfiug4M-tuNOqVmwrZGA2VeM6wVJ3fxRkHimF9yHDXkvaCjMzaZabI9VnCC2-So5Oc-kOwUTDAh9o0t8gDv1s2vFTo8rc9wAltx7MiyoxEHwiKT0dPmFtE-HtEsRfnjJADwYVLqyBASBwLbbY8~SiVeYGgTVkcQU58JlqIg7lYjnK40NHJpL60fpyvoH4meQkj7OX45oko7oLyQKFJNRIj1-eWokxrW88TMMiB515PF~PTFPXCXBPucCJ7m-dgGO0c-UaQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA'>
    <button style='font-family: Barlow; width: 100%; margin-top: 16px; height: 46px; border-radius: 4px'>CONOCÉ LA COLECCIÓN</button>
  </div>
</div>

<%= render :partial => 'slider-popular.html.erb' %>

<%= render :partial => 'slider-accesories.html.erb' %>

<%= render :partial => 'footer.html.erb' %>

<%= render :partial => 'profile.html.erb' %>

<%= render :partial => 'users/login.html.erb' %>


<script>

const swiper = new Swiper('.swiper', {
  // Optional parameters
  loop: true,
  slidesPerView: 4,
  
  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

});
</script>

<style>

.swiper {
  width: 95%;
  display: flex;
  justify-content: center;


}

.swiper-slide {
  display: flex;
  justify-content: center;

}

.swiper-wrapper {
  width: 100%; 

}


.swiper-button-next {
  color: black;
  margin-right: -10px
}

.swiper-button-prev {
  color: black;
  margin-left: -10px
}


</style>



<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

</table>

<br>

