<p id="notice"><%= notice %></p>

<%= render :partial => 'header.html.erb' %>

<div style='margin-bottom: 50px'>
  <div>
    <img class='d-none d-lg-block' src='https://s3-alpha-sig.figma.com/img/5381/7597/173ae43ff2159eb4e5e9d2927a6c6dbf?Expires=1670198400&Signature=b0CpgaKM3NCuXkg95kPgBPj-4vQSk1Fe9rOWMaxDR-1TqSunUKC0IlJoFt-53-yF5sF2jQXTYGQ6AzqXth9buyj4AKguzbCD0cnOIMlz2LVMBRhnDgwFPD8WGE916jBeeo-hjqTDkvcnZp-ydCZZvmrAz7oTlFy2A25Hwb~IRoGA9xON0vuED6zqgX5BgRhXRqiqsUZXZG0YllMjm87zSbzk6PmjNawpuqKTaT~D7LegMMLQu07MAFiQWC3qkOua9WdcVTFeblQ7UzNpREdG~Q8WHtlk68htZQhmCVp55c3ilEqu-xsZJ4n52V~osclQCoQywKp7yJjlRTCpYtH5ew__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA'>
    <img class='d-block d-lg-none' style='width: 100%' src='https://s3-alpha-sig.figma.com/img/eed6/cefa/9f745a3735e3ccb8c77a7f95507f938f?Expires=1670198400&Signature=XF8pG24p2pd71CoFYzlYBMP~GtzlYw9cPT5URPhryX9c6ltXHYIwEUsNjuPZIE~vBvJpwSECJ-6Kn1E3FWkqekjpU4ZXKpSKZoQ89mTgptxwm~DwTwwjc3FryjQKiW3R71L31nMDaLjHqS7cIqHNvBqjUiqe7p7xy0-ZEKT1n8pRVjILf4Z2iulJ7RCtfLbdOB2m9GcCClmvVr9H7E6SoCgNhpdTdhKTqbZpcXTKXmSpppwaTsPTf39Ph-3HN55eupf3orf0K0~lqMrCWDXQRkd38dcuOpc0kE8fJJD5pNIWvLfp0uJuIK7iEDs3gaz0nvsmJHNBy7j6UBnaqWLlAg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA'>
  </div>
  <div style='display: flex; justify-content: space-between; width: 30%; margin: auto; margin-top: -85px; min-width: 250px'>
      <div>
        <button style='height: 46px; width: auto; padding: 13px; display: flex; align-items: center; font-family: Barlow; border-radius: 4px; font-size: 1rem'>Comprar</button>
      </div>
      <div>
        <p style='height: 46px; width: auto; padding: 13px; display: flex; align-items: center; background-color: none; font-family: Barlow; font-size: 1rem'>Ver más</p>
      </div>
    </div> 
  </div>
</div>

<div class='d-flex justify-content-center'>
  <div class='row col-md-12 d-flex justify-content-center' style='margin-top: 50px;' >
    <div style='display: flex; justify-content: center; width: 330px; flex-direction: column; margin: 10px'>
      <p style='color: black; font-family: Barlow; font-weight: 600; font-size: 1rem; text-align: center;'>RUNNING Y TRAINING</p>
      <img style='width: 100%; margin-top: 16px' src='https://s3-alpha-sig.figma.com/img/aac4/cf7e/bffadc4bf10f494352e2c6a0d1249f2d?Expires=1670198400&Signature=Ejb3kFq-FXYDz6qJaN0MGYan-KOtbjsPR5UQMKhBNrwborefuUif9rsWk4TpCSzMIs8PUVD6VQp0iqP~qFjuHcsS74JZZJlzRolTpceqvR2d7x0Hd9bHoPYPl0D5LNTGQhNEJoRr82jn3jy-hg6pnDOqxlwHqz0Hu75V~03rUS9FNxIemxDMW7Umu~rZJLSRVIx3XFjGrgpnygypCQ5YWN7fSe-NQ-FvDn-dzKCOSmHdZgUcWSMMzp4G2up6~nJxvlwXfmnI~SiKlX80d4IDv7~osLPWsKitZXzIw-xlcrt7bdoja-rkGrgm7C~QVsvWg~ApEY~lA1XiNxY8h1rDiw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA'>
      <button style='font-family: Barlow; width: 100%; margin-top: 16px; height: 46px; border-radius: 4px'>VER MÁS</button>
    </div>
    <div style='display: flex; justify-content: center; width: 330px; flex-direction: column;  margin: 10px'>
      <p style='color: black; font-family: Barlow; font-weight: 600; font-size: 1rem; text-align: center;'>COLECCIÓN FRIDA KAHLO</p>
      <img style='width: 100%; margin-top: 16px' src='https://s3-alpha-sig.figma.com/img/aea5/2152/82a00e7c5f395c18c05b01bdd722e363?Expires=1670198400&Signature=GMJSmzhw~K7dpvHGX9j3SlE30cecc0g7h0KeHc5uac4tSXrxtktTTlSEdPgCI6Ef1EYcvfBHO990oDUNLfiug4M-tuNOqVmwrZGA2VeM6wVJ3fxRkHimF9yHDXkvaCjMzaZabI9VnCC2-So5Oc-kOwUTDAh9o0t8gDv1s2vFTo8rc9wAltx7MiyoxEHwiKT0dPmFtE-HtEsRfnjJADwYVLqyBASBwLbbY8~SiVeYGgTVkcQU58JlqIg7lYjnK40NHJpL60fpyvoH4meQkj7OX45oko7oLyQKFJNRIj1-eWokxrW88TMMiB515PF~PTFPXCXBPucCJ7m-dgGO0c-UaQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA'>
      <button style='font-family: Barlow; width: 100%; margin-top: 16px; height: 46px; border-radius: 4px'>CONOCÉ LA COLECCIÓN</button>
    </div>
  </div>
</div>

<%= render :partial => 'slider-popular.html.erb' %>

<img class='d-none d-lg-block' style='margin-top: 40px' src='https://s3-alpha-sig.figma.com/img/a139/79cd/4acb571dbf40ac4efccfc80ef57cfd99?Expires=1670198400&Signature=CEF0IlvgVymzMAUlun0gTNN61On4RC2UjbjhW-bMCsyr0QyK5uk4brV9SELOV0PFqhfAn60GmDMnmVf9CUkZ7jwXlE-jC6pnIPYod-LGoFAHGjrEhF4OdhFt-TQee-CfH362FfSWAKGnYfqa1Ww3f9lbnlSW1mFoa309pn8smsZyihkzx86j64N~4a7lZQRhtqJDorjRuQOsitYS0Tnn4WRlaaJA74A~bwRk1a0b1DjhPCfMQ7ZRqRQCdXgVhusOGTNY91TOadfTNc~2Q37CQsHJdqYyPpVR0b9DsWBKRWzOWiMAo-9-sgPxEv8ud6VtId24FSPdpQKyJTIFK2FumA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA'>

<%= render :partial => 'slider-accesories.html.erb' %>

<div style='display: flex; justify-content: center; margin-top: 10px'>
  <div style='width: 378px; height: 476px; background-color: white;box-shadow: 0px 5px 10px 0px #00000033; flex-direction: column; justify-content: space-between; display: flex; padding: 24px; align-items: center; position: absolute; margin-top: 90px'>
    <img style='width: 90%;' src='https://s3-alpha-sig.figma.com/img/fa83/c593/6903c833b59e6e05a845df532ce34e01?Expires=1670198400&Signature=LgaonBXv0Cd1-ch8KCVOU5wDWyqBUwx-V62Sstkvxs1nltfxq4OZFUzHOGWF8TgvksywEPqSeyIah2bdLv82AHjjL43e5-Zv5ed1NeEkbenME4nFXkXoW-V1CydtFCOZhbtj2ocZ02tO3yr7oIIXm~hcLb8SaAb4cY5wjA2tk1CyAqetF7ZtbK4iA64rnE0qnt32k9hPpruc3T0kO9p9Xn4TRQrfc7Hss5z~CNW0XG3D-UUMEtTzerZZUmyBupoAa~3cVGjlJ5rh1SzBsgYZ~u2Z0YaKIrbu-SDHiCrZMVsJi-m5b~hucP~HyI153EcbCCNj~q8fyqgJKfaB-HGmoQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA'>
    <div><p style='font-family: Barlow; color: black; font-size: 16px; font-weight: 600'>COLECCIÓN MUJER<p></div>
    <div style='width: 90%'> <button style='width: 100%; font-family: Barlow; border-radius: 4px; font-size: 16px; font-weight: 400'>VER COLECCIÓN</button></div>
  </div>
</div>
<img class='d-none d-lg-block' style='margin-top: 313px' src='https://s3-alpha-sig.figma.com/img/e6d0/8a2b/a9532a956a3cec85e71f2a8de1cf7691?Expires=1670198400&Signature=XuhMod1vHkmIJKwnNTJ3GOX3nWBmLTD0rDWJ-mV~avnYcZHBtFE1J7ITyD-~Otgqqjv1WpNuo5QuCfFjAYZX9kUkYBYO47z2qQkx7bnk9yb2lqUTaEVKNZzJ8KKECatucDNQ6qNm2DmFPyYVZD99HdDDKBdP~AAA856ChluJyMJ4tC1XIM8b1Y91geFE025Kiheho7b651oDqnBwzT~~XfzttMNUlWmFrgnhIbrwD5UITI~UDkb-V-GqB9FKmcgeVljclC4bhE5nGWyWKDcP8kPVkR3eC~WVjKGZc5-auRf2oeSta6q3Y6mR9x-SW47vKz2bq-EJw2mo7Pfjrt6mAQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA'>



<%= render :partial => 'footer.html.erb' %>

<%= render :partial => 'profile.html.erb' %>

<%= render :partial => 'users/login.html.erb' %>


<script>

const swiper = new Swiper('.swiper', {
  // Optional parameters
  loop: true,
  slidesPerView: 4,
  
  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

});
</script>

<style>

.swiper {
  width: 95%;
  display: flex;
  justify-content: center;


}

.swiper-slide {
  display: flex;
  justify-content: center;

}

.swiper-wrapper {
  width: 100%; 

}


.swiper-button-next {
  color: black;
  margin-right: -10px
}

.swiper-button-prev {
  color: black;
  margin-left: -10px
}


</style>



<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

</table>

<br>

