<p id="notice"><%= notice %></p>

<%= render :partial => 'header.html.erb' %>

<%= render :partial => 'slider-popular.html.erb' %>

<%= render :partial => 'slider-accesories.html.erb' %>

<%= render :partial => 'footer.html.erb' %>

<%= render :partial => 'profile.html.erb' %>

<%= render :partial => 'users/login.html.erb' %>




<script>

const swiper = new Swiper('.swiper', {
  // Optional parameters
  loop: true,
  slidesPerView: 4,
  
  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

});
</script>

<style>

.swiper {
  width: 95%;
  display: flex;
  justify-content: center;


}

.swiper-slide {
  display: flex;
  justify-content: center;

}

.swiper-wrapper {
  width: 100%; 

}


.swiper-button-next {
  color: black;
  margin-right: -10px
}

.swiper-button-prev {
  color: black;
  margin-left: -10px
}


</style>



<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

</table>

<br>

