<p id="notice"><%= notice %></p>

<h1><%=t('name_line_item')%></h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Totalprice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.product %></td>
        <td><%= line_item.quantity %></td>
        <td><%= line_item.totalprice %></td>
        <td><%= link_to t('common.show'), line_item %></td>
        <td><%= link_to t('common.edit'), edit_line_item_path(line_item) %></td>
        <td><%= link_to t('common.destroy'), line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new.new_line_item'), new_line_item_path %>
